@import "tailwindcss";

.title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
}

.form-inner-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 10px;
    margin-bottom: 0.5rem;
}

.search-input {
    width: 100%;
    height: 1.5rem;
    padding: 0.2rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background-color: #e2e8f0;
    outline: none;
}

.ingredients-input {
    flex-shrink: 0;
    width: 100%;
    padding: 0.2rem;
    border: none;
    background-color: #e2e8f0;
    outline: none;
}

.tags-container {
    background-color: #e2e8f0;
    border-radius: 0.25rem;
    font-size: 9px;
    display: flex;
    height: 1.5rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tags-container::-webkit-scrollbar {
    display: none;
}

.tags-list {
    display: flex;
    flex-wrap: nowrap;
}

.tag-item {
    background-color: #cbd5e0;
    border-radius: 0.375rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.25rem;
    display: flex;
    white-space: nowrap;
}

.tag-remove-button {
    margin-left: 0.25rem;
    font-size: 0.450rem;
    background: none;
    border: none;
    cursor: pointer;
}

.tag-remove-button:hover {
    color: #ef4444;
}

.submit-button {
    display: none;
    padding: 0.5rem;
    background-color: #e2e8f0;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
}

.newTabIcon {
    fill: #6b7280;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.25rem;
    cursor: pointer;
}

@media (min-width: 640px) {

    .title {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .form-container {
        display: flex;
        justify-content: center;
        padding: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .submit-button {
        display: block;
    }

    .submit-button:hover:not(:disabled) {
        background-color: #4b5563;
        color: white;
    }

    .form-inner-container {
        flex-direction: row;
        gap: 0.5rem;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    .input-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 15px;
        margin-bottom: 0rem;

    }

    .search-input {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        border: 1px solid #e2e8f0;
        border-radius: 0.25rem;
        background-color: #e2e8f0;
        outline: none;
    }

    .ingredients-input {
        font-size: 15px;
        flex-shrink: 0;
        width: 100%;
        padding: 0.5rem;
        border: none;
        background-color: #e2e8f0;
        outline: none;
    }

    .tags-container {
        height: 2.5rem;
        font-size: 15px;
        background-color: #e2e8f0;
        border-radius: 0.25rem;
        display: flex;
        max-height: 2.5rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tags-container::-webkit-scrollbar {
        display: none;
    }

    .tags-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .tag-item {
        background-color: #cbd5e0;
        border-radius: 0.375rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin: 0.25rem;
        display: flex;
        items-center: center;
        white-space: nowrap;
    }

    .tag-remove-button {
        margin-left: 0.25rem;
        font-size: 0.875rem;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.grid-cols-fill {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}