.cards--container {
    width: 90vw;
    min-height: 20vh;
    display: flex;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2vw;
    margin: 2vw auto;
}

.cards--image-container {
    width: 30%;
    background: #e0e0e0;
    padding: 2vw;
    margin-right: 2vw;
    border-radius: 0.375rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards--image {
    border-radius: 0.25rem;
    object-fit: cover;
}

.cards--content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.cards--header {
    height: 30%;
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards--title {
    font-weight: 600;
    font-size: 5vw;
    text-align: center;
    margin: 0;
}

.cards--ingredients {
    height: 50%;
    padding: 1vw 0;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
}

.cards--ingredients-text {
    font-size: 3vw;
    margin: 0;
    margin-right: 3vw;
    margin-left: 3vw;
}

.cards--footer {
    height: 20%;
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cards--source {
    font-size: 2.3vw;
    color: #696d70;
    text-align: right;
    margin: 0;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

.skeleton-text {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.skeleton-lines {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shimmer {
    animation: shimmer 1.5s infinite linear;
}

@media (min-width: 1024px) {
    .cards--container {
        width: 45vw;
        height: 35vh;
        padding: 0.5vw;
        margin: 1vw;
    }

    .cards--image-container {
        width: 33.33%;
        padding: 1.5vw;
        margin: 0.5vw;
    }

    .cards--content {
        width: 66.67%;
    }

    .cards--header {
        height: 20%;
        padding: 1vw;
    }

    .cards--title {
        font-size: 1.7vw;
    }

    .cards--ingredients {
        height: 60%;
        padding: 1vw;
    }

    .cards--ingredients-text {
        font-size: 1.2vw;
    }

    .cards--footer {
        height: 20%;
        padding: 1vw;
    }

    .cards--source {
        font-size: 1vw;
    }
}